{
  "env": {
    "commonjs": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "block-scoped-var": "error",
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": "warn",
    "computed-property-spacing": ["error", "never"],
    "curly": "error",
    "eol-last": "error",
    "eqeqeq": ["error", "smart"],
    "indent": ["error", 2],
    "max-depth": ["warn", 5],
    "new-cap": "warn",
    "no-extend-native": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-trailing-spaces": "error",
    "no-unused-vars": "warn",
    "no-use-before-define": ["warn", { "functions": true, "classes": false } ],
    "no-undef": "error",
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "always"],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "space-unary-ops": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "arrow-spacing": "error",
    "arrow-parens": ["error", "as-needed"]
  }
}
